<div class="question-row">
  <div class="question-delete"
    (click)="onDeleteQuestion()">
    <i class="fa fa-trash-o fa-2x"
      aria-hidden="true"></i>
  </div>
  <div class="question">
    <div class="question-header">
      <mat-form-field class="h4 question-header">
        <input matInput
          [(ngModel)]="question.text">
      </mat-form-field>
      <mat-form-field class="question-type">
        <mat-select [(value)]="question.typeId">
          <mat-option *ngFor="let type of questionTypes" [value]="type.id">
            {{type.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="question-body">
      <div class="option-row-container"
        *ngFor="let option of question.options">
        <mat-form-field>
          <mat-select [(value)]="option.id"
            (selectionChange)="onOptionTypeChange($event)">
            <mat-option *ngFor="let option of options"
            placeholder="Text"
              [value]="option.id">
              {{option.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput
            placeholder="Hint"
            [(ngModel)]="option.hint">
        </mat-form-field>
        <mat-checkbox [(ngModel)]="option.isFreeText">Free text</mat-checkbox>
        <mat-checkbox [(ngModel)]="option.isFlagged">Red flag</mat-checkbox>
        <i class="fa fa-trash-o fa-lg question-options-last-item"
          aria-hidden="true"
          (click)="deleteOption($event)"></i>
      </div>
      <div class="option-row-container">
        <mat-form-field>
          <input matInput
            placeholder="Text"
            [(ngModel)]="newOption.text"
            required>
        </mat-form-field>
        <mat-form-field>
          <input matInput
            placeholder="Hint"
            [(ngModel)]="newOption.hint">
        </mat-form-field>
        <mat-checkbox [(ngModel)]="newOption.isFreeText">Free text</mat-checkbox>
        <mat-checkbox [(ngModel)]="newOption.isFlagged">Red flag</mat-checkbox>
        <i class="fa fa-plus fa-lg question-options-last-item"
          aria-hidden="true"
          (click)="addNewOption()"></i>
      </div>
    </div>
  </div>
</div>
